* {
  box-sizing: border-box;
}

.header > img {
  width: 30%;
  height: 12vh;
  margin-top: 2vh;
}

.header {
  height: 15vh;

  height: 15vh;
}

.header > .nav-elements {
  display: flex;
  justify-content: space-around;
  width: 40vw;
  margin-left: 5vw;
  position: absolute;
  left: 40vw;
  top: 7vh;
  font-size: x-large;
}

.main-section {
  background-color: grey;
  margin-top: 10vh;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.main-section > img {
  max-width: 25vw;
  height: auto;
  display: block;
  margin: 0 auto 0 auto;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: red;
  transform: scale(1.2);
}

p {
  text-align: center;
  margin-top: 7vh;
  margin-bottom: 3vh;
  font-size: larger;
}

.contact {
  background-color: grey;
}

.visible {
  opacity: 0; /* Start invisible */
  animation: fadeInOut 1s ease-in-out infinite; /* Apply the fadeInOut animation */
}

/* Define the fade-in and fade-out animation */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.about {
  width: 40vw;
  min-height: 10vh;
  background-color: grey;
  margin: 0 auto 0 auto;
  margin-top: 20vh;
  color: white;
  font-size: x-large;
}
